/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2015, 4:52:45 PM
    Author     : esteban
*/
@charset "UTF-8";
body
{
    margin: 0px auto;
    width: 500px;
    background-color: #EEEEEE;
}

body.body_intro
{
    margin: 0px auto;
    width: 1250px;
    background-color: #EEEEEE;
}
#header
{
    position : fixed;
    background-color: #1A1F2B;
    width: 1100px;
    text-align: center;
    z-index: 1;
    
       
}

.ul_header li a:hover
{
  background-color:#434343;
}

.ul_header li 
{
     display: inline;
     
}

.ul_header li a
{
    text-decoration: none;
    color:#EEEEEE;
    padding:10px 15px;
}

#menu
{
    position: fixed;
    float: left;
    width: 200px;
    height: 800px;
    margin-top: 50px;
    background-color: #4A6491;
    border-style: solid;
    border-color: #30395C;
    border-width: 2px;
    
}
.header_menu
{
    position: fixed;
    width: 200px;
    height: 30px;
    text-align: center;
    font: 20px arial, sans-serif;
    background-color: #30395C;
    color: #EEEEEE
}
.ul_menu
{
    margin-top: 50px;
    width: 125px;
}
.ul_menu li
{
    list-style: none;
    width: 125px;
}
.ul_menu li a
{
    text-decoration: none;
    color:#EEEEEE;
    top:35px;
    padding: 10px 10px;
    display:block;
    text-align: center;
}

.ul_menu li a:hover
{
  background-color:#85A5CC;
}

#div_noticias
{
    position: fixed;
    width: 896px;
    height: 804px;
    margin-top: 50px;
    margin-left: 204px;
    background-color: #D0E4F2;
}
#div_noticias_contenido
{
    position: relative;
}
input.button
{
    width: auto;
    height: 30px;
    border-width: 1px;
    padding: 7px 14px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #2980B9 ;
}
input.button2
{
    width: autopx;
    height: 30px;
    border-width: 1px;
    padding: 7px 14px;
    font-size: 14px;
    background-color: #FFFFFF ;
}
input.input
{
    width: 380px;
    height: 25px;
    margin: 5px 0px;
}
fieldset.login
{
    position: fixed;
    width: auto;
    height: auto;
    background-color: #FFFFFF ;
    border-width: 1px;
    border-color: black;
}
label
{
    font-family: "Times New Roman";
    font-size: 20px;
    text-align: center;
}
label.title
{
    font-size: 22px;
}
legend
{
    font-size: 24px;
}
select
{
    width: 382px;
    height: 30px;
    margin: 5px 0px;
}
